.code {
    font-family: monospace;
    font-size: large;
    
    padding: 10px;
    
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    
    background-color: darkgrey;
}